<section class="c-partner-apis">
  <div class="row">
    <div class="column small-12 medium-10 medium-offset-1 text-center landing-content">
      <div class="content-title">
        Datasets
      </div>
      <div class="dashboard-info">
        <div class="dashboard-info__item">
          <span class="dashboard-info__title">Total</span>          
          <span class="dashboard-info__stat">20,210</span>          
        </div>
        <div class="dashboard-info__item">
          <span class="dashboard-info__title">Added (Month)</span>          
          <span class="dashboard-info__stat">100</span>          
        </div>
        <div class="dashboard-info__item">
          <span class="dashboard-info__title red">Failed</span>          
          <span class="dashboard-info__stat">8,000</span>          
        </div>
      </div>
    </div>    
  </div>
  <div class="row">
    <div class="column small-12 medium-10 medium-offset-1 text-center landing-content">
      <div class="content-title">
        Queries
      </div>
      <div class="dashboard-info">
          <div class="dashboard-info__item">
            <span class="dashboard-info__title">Ran (Month)</span>          
            <span class="dashboard-info__stat">203</span>          
          </div>
          <div class="dashboard-info__item">
            <span class="dashboard-info__title">Non-admin</span>          
            <span class="dashboard-info__stat">50</span>          
          </div>
          <div class="dashboard-info__item">
            <span class="dashboard-info__title red">Failed</span>          
            <span class="dashboard-info__stat">44</span>          
          </div>
        </div>
      </div>    
  </div>
  <div class="row">
    <div class="column small-12 medium-10 medium-offset-1 text-center landing-content">
      <div class="content-title">
        Users/Visitors
      </div>
      <div class="dashboard-info">
          <div class="dashboard-info__item">
            <span class="dashboard-info__title">Total</span>          
            <span class="dashboard-info__stat">22</span>          
          </div>
          <div class="dashboard-info__item">
            <span class="dashboard-info__title">Registered (not verified)</span>          
            <span class="dashboard-info__stat">4</span>          
          </div>
          <div class="dashboard-info__item">
            <span class="dashboard-info__title red">Monthly Visitors (google analytics)</span>          
            <span class="dashboard-info__stat">25</span>          
          </div>
        </div>
      </div>    
  </div>
  <div class="row">
    <div class="column small-12 medium-10 medium-offset-1 text-center landing-content">
      <div class="content-title">
        Connectors
      </div>
      <div class="dashboard-info">
          <div class="dashboard-info__item">
            <span class="dashboard-info__title">Total</span>          
            <span class="dashboard-info__stat">6</span>          
          </div>
          <div class="dashboard-info__item">
            <span class="dashboard-info__title">Last Ran</span>          
            <span class="dashboard-info__stat">1st of each month</span>          
          </div>
          <div class="dashboard-info__item">
            <span class="dashboard-info__title red">Failed</span>          
            <span class="dashboard-info__stat">0</span>          
          </div>
        </div>
      </div>    
  </div>
</section>
