<section class="c-partner-apis">
  <div class="row">
    <div class="column small-12 medium-10 medium-offset-1 text-center landing-content">
      <div class="content-title">
        Datasets
      </div>
      <div class="dashboard-info">
        <div class="dashboard-info__item">
          <span class="dashboard-info__title">Total</span>          
          <span class="dashboard-info__stat">20,210</span>          
        </div>
        <div class="dashboard-info__item">
          <span class="dashboard-info__title">Added (Month)</span>          
          <span class="dashboard-info__stat">100</span>          
        </div>
        <div class="dashboard-info__item">
          <span class="dashboard-info__title red">Failed</span>          
          <span class="dashboard-info__stat">8,000</span>          
        </div>
      </div>
    </div>    
  </div>
  <div class="row">
    <div class="column small-12 medium-10 medium-offset-1 text-center landing-content">
      <div class="content-title">
        Queries
      </div>
      <div class="dashboard-info">
          <div class="dashboard-info__item">
            <span class="dashboard-info__title">Ran (Month)</span>          
            <span class="dashboard-info__stat">203</span>          
          </div>
          <div class="dashboard-info__item">
            <span class="dashboard-info__title">Non-admin</span>          
            <span class="dashboard-info__stat">50</span>          
          </div>
          <div class="dashboard-info__item">
            <span class="dashboard-info__title red">Failed</span>          
            <span class="dashboard-info__stat">44</span>          
          </div>
        </div>
      </div>    
  </div>
  <div class="row">
    <div class="column small-12 medium-10 medium-offset-1 text-center landing-content">
      <div class="content-title">
        Users/Visitors
      </div>
      <div class="dashboard-info">
          <div class="dashboard-info__item">
            <span class="dashboard-info__title">Total</span>          
            <span class="dashboard-info__stat">22</span>          
          </div>
          <div class="dashboard-info__item">
            <span class="dashboard-info__title">Registered (not verified)</span>          
            <span class="dashboard-info__stat">4</span>          
          </div>
          <div class="dashboard-info__item">
            <span class="dashboard-info__title red">Monthly Visitors (google analytics)</span>          
            <span class="dashboard-info__stat">25</span>          
          </div>
        </div>
      </div>    
  </div>
  <div class="row">
    <div class="column small-12 medium-10 medium-offset-1 text-center landing-content">
      <div class="content-title">
        Connectors
      </div>
      <div class="dashboard-connector">
          <div class="dashboard-connector__item">
            <span class="dashboard-connector__title">World Bank</span>          
            <span class="dashboard-connector__stat" v-if="worldBankCount != -1">
                <v-popover
                trigger="hover"
                placement="top"
              >
                <icon-component name="icon-info" class="-small"></icon-component>
                <div class="tooltip-container" slot="popover">
                  <span class="tooltip-heading">
                    Query
                  </span>
                  <p class="tooltip-content">
                      https://api.apihighways.org/dataset?provider=worldbank&page[size]=10000
                  </p>
                </div>
              </v-popover>
              Datasets: {{worldBankCount}}
            </span>          
            <span class="dashboard-connector__stat">Data owner: <a href="mailto:bob@worldbank.com">bob@worldbank.com</a></span>          
            <span class="dashboard-connector__stat">Connector Status: last ran {{worldBankLastRan}}</span>          
            <span class="dashboard-connector__stat" v-if="failedWorldBankCount != -1">
                <v-popover
                trigger="hover"
                placement="top"
              >
                <icon-component name="icon-info" class="-small"></icon-component>
                <div class="tooltip-container" slot="popover">
                  <span class="tooltip-heading">
                    Query
                  </span>
                  <p class="tooltip-content">
                      https://api.apihighways.org/dataset?provider=worldbank&status=failed&page[size]=10000
                  </p>
                </div>
              </v-popover>
              Failed Datasets: {{failedWorldBankCount}}
            </span>          
          </div>
          <div class="dashboard-connector__item">
            <span class="dashboard-connector__title">UN Stats</span>          
            <span class="dashboard-connector__stat" v-if="unCount != -1">
                <v-popover
                trigger="hover"
                placement="top"
              >
                <icon-component name="icon-info" class="-small"></icon-component>
                <div class="tooltip-container" slot="popover">
                  <span class="tooltip-heading">
                    Query
                  </span>
                  <p class="tooltip-content">
                      https://api.apihighways.org/dataset?provider=un&page[size]=10000
                  </p>
                </div>
              </v-popover>

               Datasets: {{unCount}}
            </span>          
            <span class="dashboard-connector__stat">Data owner: <a href="mailto:gonzalezmorales@un.org">gonzalezmorales@un.org</a></span>          
            <span class="dashboard-connector__stat">Connector Status: Last ran {{unLastRan}}</span>    
            <span class="dashboard-connector__stat" v-if="failedUnCount != -1">
                <v-popover
                trigger="hover"
                placement="top"
              >
                <icon-component name="icon-info" class="-small"></icon-component>
                <div class="tooltip-container" slot="popover">
                  <span class="tooltip-heading">
                    Query
                  </span>
                  <p class="tooltip-content">
                      https://api.apihighways.org/dataset?provider=un&status=failed&page[size]=10000
                  </p>
                </div>
              </v-popover>
              Failed Datasets: {{failedUnCount}}
            </span>          
      
          </div>
          <div class="dashboard-connector__item">
            <span class="dashboard-connector__title">Humanitarian Data Exchange</span>          
            <span class="dashboard-connector__stat" v-if="hdxCount != -1">
                <v-popover
                trigger="hover"
                placement="top"
              >
                <icon-component name="icon-info" class="-small"></icon-component>
                <div class="tooltip-container" slot="popover">
                  <span class="tooltip-heading">
                    Query
                  </span>
                  <p class="tooltip-content">
                      https://api.apihighways.org/dataset?provider=hdx&page[size]=10000
                  </p>
                </div>
              </v-popover>

              Datasets: {{hdxCount}}
            </span>          
            <span class="dashboard-connector__stat">Data owner: <a href="mailto:hendrix@un.org">hendrix@un.org</a></span>          
            <span class="dashboard-connector__stat">Connector Status: Last ran {{hdxLastRan}}</span>          
            <span class="dashboard-connector__stat" v-if="failedHdxCount != -1">
                <v-popover
                trigger="hover"
                placement="top"
              >
                <icon-component name="icon-info" class="-small"></icon-component>
                <div class="tooltip-container" slot="popover">
                  <span class="tooltip-heading">
                    Query
                  </span>
                  <p class="tooltip-content">
                      https://api.apihighways.org/dataset?provider=hdx&status=failed&page[size]=10000
                  </p>
                </div>
              </v-popover>
              Failed Datasets: {{failedHdxCount}}
            </span>          
          </div>
          <div class="dashboard-connector__item">
              <span class="dashboard-connector__title">Resource Watch</span>          
              <span class="dashboard-connector__stat" v-if="resourceWatchCount != -1">
                  <v-popover
                  trigger="hover"
                  placement="top"
                >
                  <icon-component name="icon-info" class="-small"></icon-component>
                  <div class="tooltip-container" slot="popover">
                    <span class="tooltip-heading">
                      Query
                    </span>
                    <p class="tooltip-content">
                        https://api.apihighways.org/dataset?provider=resourcewatch&page[size]=10000
                    </p>
                  </div>
                </v-popover>
  
                Datasets: {{resourceWatchCount}}
              </span>          
              <span class="dashboard-connector__stat">Data owner: <a href="mailto:FGassert@wri.org">FGassert@wri.org</a></span>          
              <span class="dashboard-connector__stat">Connector Status: Last ran {{resourceWatchLastRan}}</span>          
              <span class="dashboard-connector__stat" v-if="resourceWatchCount != -1">
                  <v-popover
                  trigger="hover"
                  placement="top"
                >
                  <icon-component name="icon-info" class="-small"></icon-component>
                  <div class="tooltip-container" slot="popover">
                    <span class="tooltip-heading">
                      Query
                    </span>
                    <p class="tooltip-content">
                        https://api.apihighways.org/dataset?provider=resourcewatch&status=failed&page[size]=10000
                    </p>
                  </div>
                </v-popover>
                Failed Datasets: {{failedResourceWatchCount}}
              </span>          
  
              </div>
          </div>
      </div>    
  </div>
</section>
