<section class="c-partner-apis">
  <div class="row">
    <div class="column small-12 medium-10 medium-offset-1 text-center landing-content">
      <div class="content-title">
        Datasets
      </div>
      <div class="dashboard-info">
        <div class="dashboard-info__item">
          <span class="dashboard-info__title">Total</span>          
          <span class="dashboard-info__stat">20,210</span>          
        </div>
        <div class="dashboard-info__item">
          <span class="dashboard-info__title">Added (Month)</span>          
          <span class="dashboard-info__stat">100</span>          
        </div>
        <div class="dashboard-info__item">
          <span class="dashboard-info__title red">Failed</span>          
          <span class="dashboard-info__stat">8,000</span>          
        </div>
      </div>
    </div>    
  </div>
  <div class="row">
    <div class="column small-12 medium-10 medium-offset-1 text-center landing-content">
      <div class="content-title">
        Queries
      </div>
      <div class="dashboard-info">
          <div class="dashboard-info__item">
            <span class="dashboard-info__title">Ran (Month)</span>          
            <span class="dashboard-info__stat">203</span>          
          </div>
          <div class="dashboard-info__item">
            <span class="dashboard-info__title">Non-admin</span>          
            <span class="dashboard-info__stat">50</span>          
          </div>
          <div class="dashboard-info__item">
            <span class="dashboard-info__title red">Failed</span>          
            <span class="dashboard-info__stat">44</span>          
          </div>
        </div>
      </div>    
  </div>
  <div class="row">
    <div class="column small-12 medium-10 medium-offset-1 text-center landing-content">
      <div class="content-title">
        Users/Visitors
      </div>
      <div class="dashboard-info">
          <div class="dashboard-info__item">
            <span class="dashboard-info__title">Total</span>          
            <span class="dashboard-info__stat">22</span>          
          </div>
          <div class="dashboard-info__item">
            <span class="dashboard-info__title">Registered (not verified)</span>          
            <span class="dashboard-info__stat">4</span>          
          </div>
          <div class="dashboard-info__item">
            <span class="dashboard-info__title red">Monthly Visitors (google analytics)</span>          
            <span class="dashboard-info__stat">25</span>          
          </div>
        </div>
      </div>    
  </div>
  <div class="row">
    <div class="column small-12 medium-10 medium-offset-1 text-center landing-content">
      <div class="content-title">
        Connectors
      </div>
      <div class="dashboard-connector">
          <div class="dashboard-connector__item">
            <span class="dashboard-connector__title">World Bank</span>          
            <span class="dashboard-connector__stat" v-if="worldBankCount != -1">
                <v-popover
                trigger="hover"
                placement="top"
              >
                <icon-component name="icon-info" class="-small"></icon-component>
                <div class="tooltip-container" slot="popover">
                  <span class="tooltip-heading">
                    Query
                  </span>
                  <p class="tooltip-content">
                      https://api.apihighways.org/dataset?provider=worldbank&page[size]=10000
                  </p>
                </div>
              </v-popover>
              Datasets: {{worldBankCount}}
            </span>          
            <span class="dashboard-connector__stat">Data owner: <a href="mailto:bob@worldbank.com">bob@worldbank.com</a></span>          
            <span class="dashboard-connector__stat">Connector Status: last ran {{worldBankLastRan}}</span>          
            <span class="dashboard-connector__stat" v-if="failedWorldBankCount != -1">
                <v-popover
                trigger="hover"
                placement="top"
              >
                <icon-component name="icon-info" class="-small"></icon-component>
                <div class="tooltip-container" slot="popover">
                  <span class="tooltip-heading">
                    Query
                  </span>
                  <p class="tooltip-content">
                      https://api.apihighways.org/dataset?provider=worldbank&status=failed&page[size]=10000
                  </p>
                </div>
              </v-popover>
              Failed Datasets: {{failedWorldBankCount}}
              <ul>
                <li v-for="(errorMessage, ndx) in Object.keys(failedGroupByWorldBank)" :key="ndx">({{failedGroupByWorldBank[errorMessage].length}}) : {{errorMessage.substring(0,80)}}</li>
              </ul>
            </span>          
          </div>
          <div class="dashboard-connector__item">
            <span class="dashboard-connector__title">UN Stats</span>          
            <span class="dashboard-connector__stat" v-if="unCount != -1">
                <v-popover
                trigger="hover"
                placement="top"
              >
                <icon-component name="icon-info" class="-small"></icon-component>
                <div class="tooltip-container" slot="popover">
                  <span class="tooltip-heading">
                    Query
                  </span>
                  <p class="tooltip-content">
                      https://api.apihighways.org/dataset?provider=un&page[size]=10000
                  </p>
                </div>
              </v-popover>

               Datasets: {{unCount}}
            </span>          
            <span class="dashboard-connector__stat">Data owner: <a href="mailto:gonzalezmorales@un.org">gonzalezmorales@un.org</a></span>          
            <span class="dashboard-connector__stat">Connector Status: Last ran {{unLastRan}}</span>    
            <span class="dashboard-connector__stat" v-if="failedUnCount != -1">
                <v-popover
                trigger="hover"
                placement="top"
              >
                <icon-component name="icon-info" class="-small"></icon-component>
                <div class="tooltip-container" slot="popover">
                  <span class="tooltip-heading">
                    Query
                  </span>
                  <p class="tooltip-content">
                      https://api.apihighways.org/dataset?provider=un&status=failed&page[size]=10000
                  </p>
                </div>
              </v-popover>
              Failed Datasets: {{failedUnCount}}
              <ul>
                <li v-for="(errorMessage, ndx) in Object.keys(failedGroupByUn)" :key="ndx">({{failedGroupByUn[errorMessage].length}}) : {{errorMessage.substring(0,80)}}</li>
              </ul>
            </span>          
      
          </div>
          <div class="dashboard-connector__item">
            <span class="dashboard-connector__title">Humanitarian Data Exchange</span>          
            <span class="dashboard-connector__stat" v-if="hdxCount != -1">
                <v-popover
                trigger="hover"
                placement="top"
              >
                <icon-component name="icon-info" class="-small"></icon-component>
                <div class="tooltip-container" slot="popover">
                  <span class="tooltip-heading">
                    Query
                  </span>
                  <p class="tooltip-content">
                      https://api.apihighways.org/dataset?provider=hdx&page[size]=10000
                  </p>
                </div>
              </v-popover>

              Datasets: {{hdxCount}}
            </span>          
            <span class="dashboard-connector__stat">Data owner: <a href="mailto:hdx@un.org">hdx@un.org</a></span>          
            <span class="dashboard-connector__stat">Connector Status: Last ran {{hdxLastRan}}</span>          
            <span class="dashboard-connector__stat" v-if="failedHdxCount != -1">
                <v-popover
                trigger="hover"
                placement="top"
              >
                <icon-component name="icon-info" class="-small"></icon-component>
                <div class="tooltip-container" slot="popover">
                  <span class="tooltip-heading">
                    Query
                  </span>
                  <p class="tooltip-content">
                      https://api.apihighways.org/dataset?provider=hdx&status=failed&page[size]=10000
                  </p>
                </div>
              </v-popover>
              Failed Datasets: {{failedHdxCount}}
              <!-- <ul>
                <li v-for="(errorMessage, ndx) in Object.keys(failedGroupByHdx)" :key="ndx">({{failedGroupByHdx[errorMessage].length}}) : {{errorMessage.substring(0,80)}}</li>
              </ul> -->
            </span>          
          </div>
          <div class="dashboard-connector__item">
              <span class="dashboard-connector__title">Resource Watch</span>          
              <span class="dashboard-connector__stat" v-if="resourceWatchCount != -1">
                  <v-popover
                  trigger="hover"
                  placement="top"
                >
                  <icon-component name="icon-info" class="-small"></icon-component>
                  <div class="tooltip-container" slot="popover">
                    <span class="tooltip-heading">
                      Query
                    </span>
                    <p class="tooltip-content">
                        https://api.apihighways.org/dataset?provider=resourcewatch&page[size]=10000
                    </p>
                  </div>
                </v-popover>
  
                Datasets: {{resourceWatchCount}}
              </span>          
              <span class="dashboard-connector__stat">Data owner: <a href="mailto:FGassert@wri.org">FGassert@wri.org</a></span>          
              <span class="dashboard-connector__stat">Connector Status: Last ran {{resourceWatchLastRan}}</span>          
              <span class="dashboard-connector__stat" v-if="resourceWatchCount != -1">
                  <v-popover
                  trigger="hover"
                  placement="top"
                >
                  <icon-component name="icon-info" class="-small"></icon-component>
                  <div class="tooltip-container" slot="popover">
                    <span class="tooltip-heading">
                      Query
                    </span>
                    <p class="tooltip-content">
                        https://api.apihighways.org/dataset?provider=resourcewatch&status=failed&page[size]=10000
                    </p>
                  </div>
                </v-popover>
                Failed Datasets: {{failedResourceWatchCount}}
                <ul>
                  <li v-for="(errorMessage, ndx) in Object.keys(failedGroupByResourceWatch)" :key="ndx">({{failedGroupByResourceWatch[errorMessage].length}}) : {{errorMessage.substring(0,80)}}</li>
                </ul>
  
              </span>          
  
          </div>
          <div class="dashboard-connector__item">
            <span class="dashboard-connector__title">HDX Full</span>          
            <span class="dashboard-connector__stat" v-if="hdxFullCount != -1">
                <v-popover
                trigger="hover"
                placement="top"
              >
                <icon-component name="icon-info" class="-small"></icon-component>
                <div class="tooltip-container" slot="popover">
                  <span class="tooltip-heading">
                    Query
                  </span>
                  <p class="tooltip-content">
                    https://api.apihighways.org/dataset?vocabulary[legacy]=hdx-full&page[size]=10000
                  </p>
                </div>
              </v-popover>

              Datasets: {{hdxFullCount}}
            </span>          
            <span class="dashboard-connector__stat">Data owner: <a href="mailto:hdx@un.org">hdx@un.org</a></span></span>          
            <span class="dashboard-connector__stat">Connector Status: Last ran {{hdxFullLastRan}}</span>          
            <span class="dashboard-connector__stat" v-if="hdxFullCount != -1">
                <v-popover
                trigger="hover"
                placement="top"
              >
                <icon-component name="icon-info" class="-small"></icon-component>
                <div class="tooltip-container" slot="popover">
                  <span class="tooltip-heading">
                    Query
                  </span>
                  <p class="tooltip-content">
                      https://api.apihighways.org/dataset?provider=resourcewatch&status=failed&page[size]=10000
                  </p>
                </div>
              </v-popover>
              Failed Datasets: {{failedHdxFullCount}}
              <ul>
                <li v-for="(dataset, ndx) in failedHdxFullDatasets" :key="ndx"><a :href="getFailedUrl(dataset)" target="_blank">{{dataset.attributes.name}}</a></li>
              </ul>
              <br><br>All Datasets
              <ul>
                <li v-for="(dataset, ndx) in Object.keys(hdxFullDatasets)" :key="ndx"><a :href="getUrl(dataset)" target="_blank">{{dataset}}</a> <br> <span class="last-updated">last updated: {{hdxFullDatasets[dataset][hdxFullDatasets[dataset].length-1].attributes.updatedAt}}</span></li>
              </ul>

            </span>          

        </div>
      </div>
      </div>    
  </div>
</section>
