<form ref="form" @submit.prevent="saveTags()">  
    <div class="input-label">Vocabulary</div>
    <div class="container" >
        <div class="input" >
          <input
            type="text"
            placeholder="Enter Vocabulary e.g. country or science"
            class="search-input js-search-input"
            v-model.trim="vocabulary"
            v-validate="'required'"
          >
        </div > 
    </div >            
    <div class="input-label">Tags</div>
    <div class="container" v-for="tag in tags" >
        <div class="input" >
          <input
            type="text"
            placeholder="Enter Tag"
            class="search-input js-search-input"
            v-model.trim="tag.value"
          >
        </div > 
    </div >            
    <div class="c-add-form__actions left-align">
        <button-component class="-bordered -big -white -filled" :click="addTag" >Add Tag</button-component >      
      </div>    
      <div class="c-add-form__actions">
      <button-component class="-bordered -big -dark" :click="goToPlayground" >Cancel</button-component >
      <button class="c-button -bordered -big -white -filled">Save</button>
    </div>    
  </form>
