<form ref="form" @submit.prevent="saveTags()" v-click-outside="closeTags">  
    <div class="error-list" v-if="showResponseError">
      <p>We're sorry, there was a problem sending your request.</p>
    </div>
  
    <div class="input-label">
      Tags
      <v-popover class="input-popover" trigger="hover" placement="right">
          <icon-component name="icon-info" class="-small"></icon-component>
          <div class="tooltip-container" slot="popover">
            <span class="tooltip-heading">
              Info
            </span>
            <p class="tooltip-content">
                A way to categorize a resource within a vocabulary context.
            </p>
          </div>
        </v-popover>
    </div>
    <div class="container" v-for="tag in tags" >
        <div class="input" >
          <input
            type="text"
            placeholder="Enter Tag"
            class="search-input js-search-input"
            v-model.trim="tag.value"
            @click="openTag(tag)"
            @keyup="filterTags(tag)"
          >
        </div > 
        <div v-if="tag.filterTags.length > 0 && tag.isOpen" class="c-tabs" >
          <ul class="c-autocomplete-options">
            <li v-for="existingTag in tag.filterTags.slice(0,8)" @click="setTag(tag,existingTag)">{{existingTag}}</li>
          </ul>
        </div >    
    </div >            
    <div class="c-add-form__actions left-align">
        <button-component class="-bordered -big -white -filled" :click="addTag" >Add Tag</button-component >      
      </div>    
      <div class="c-add-form__actions">
      <button-component class="-bordered -big -dark" :click="goToPlayground" >Cancel</button-component >
      <button class="c-button -bordered -big -white -filled">Save</button>
    </div>    
  </form>
