<section class="c-partner-apis">
  <div class="row" v-if="isLandingPage">
    <div class="column small-12 medium-10 medium-offset-1 text-center landing-content">
      <div class="content-title">
        Outreach
      </div>
      <p class="content-text">In an effort to promote the datasets and tools offered by API Highways and develop relationships with developer communities across the globe,  we host various hackathons and challenges.  
        The following is a list of the communities and projects that in some way have utilized API Highways.  Keep up with their projects and work below.</p>
    </div>    
  </div>
  <div class="row">
      <div class="column small-12 medium-10 medium-offset-1 text-center">
          <div class="content-text">
              <vue-simple-markdown :source="markdownText"></vue-simple-markdown>
          </div>
        </div>    
    </div>
  </div>
</section>
