<form ref="form" @submit.prevent="saveMetadata()">  
    <ul class="error-list" v-if="$validator.errors.items.length > 0">
      <li v-for="item in $validator.errors.items" :key="item.id">{{item.msg}}</li>
    </ul>
    <!-- Using default 'en' for now -->
    <!-- <div class="container" >
        <div class="input-label">Language</div>
        <div class="input" >
          <input
            type="text"
            placeholder="Dataset Language"
            class="search-input js-search-input"
            v-model.trim="metadata.language"
            name="dataset language"
          >
        </div > 
    </div >             -->
    <div class="container" >
        <div class="input-label">Source Organization</div>
        <div class="input" >
          <input
            type="text"
            placeholder="Source Organization"
            class="search-input js-search-input"
            v-model.trim="metadata.sourceOrganization"
            name="source organization"
            v-validate="'required'"
          >
        </div > 
        <span class="input-required">*</span>
    </div >            
    <div class="container" >
        <div class="input-label">Datasource Url</div>
        <div class="input" >
          <input
            type="text"
            placeholder="Datasource Url"
            class="search-input js-search-input"
            v-model.trim="metadata.dataSourceUrl"
            name="datasource url"
            v-validate="'required|url:require_protocol'"
          >
        </div > 
        <span class="input-required">*</span>
    </div >            
    <div class="container" >
        <div class="input-label">Datasource Endpoint</div>
        <div class="input" >
          <input
            type="text"
            placeholder="Datasource Endpoint"
            class="search-input js-search-input"
            v-model.trim="metadata.dataSourceEndpoint"
            name="datasource endpoint"
          >
        </div > 
    </div >            
    <div class="container" >
        <div class="input-label">Download Url</div>
        <div class="input" >
          <input
            type="text"
            placeholder="Download Url"
            class="search-input js-search-input"
            v-model.trim="metadata.dataDownloadUrl"
            v-validate="'url:require_protocol'"
            name="download url"
          >
        </div > 
    </div >            
    <div class="container" >
        <div class="input-label">License</div>
        <div class="input" >
          <input
            type="text"
            placeholder="License"
            class="search-input js-search-input"
            v-model.trim="metadata.license"
            name="license"
          >
        </div > 
    </div >            
    <div class="container" >
        <div class="input-label">Info</div>
        <div class="input" >
          <input
            type="text"
            placeholder="Any additional Info"
            class="search-input js-search-input"
            v-model.trim="metadata.info"
            name="metadata info"
          >
        </div > 
    </div >            
    <div class="container" >
        <div class="input-label">Units</div>
        <div class="input" >
          <input
            type="text"
            placeholder="Dataset Units"
            class="search-input js-search-input"
            v-model.trim="metadata.units"
            name="dataset units"
          >
        </div > 
    </div >            
    <div class="c-add-form__actions">
      <button-component class="-bordered -big -dark" :click="goToPlayground" >Cancel</button-component >
      <button class="c-button -bordered -big -white -filled">Next</button>
    </div>    
  </form>
