<form ref="form" @submit.prevent="saveMetadata()" autocomplete="off">  
    <ul class="error-list" v-if="$validator.errors.items.length > 0">
      <li v-for="item in $validator.errors.items" :key="item.id">{{item.msg}}</li>
    </ul>
    <div class="error-list" v-if="showResponseError">
      <p>We're sorry, there was a problem sending your request.</p>
    </div>
      <!-- Using default 'en' for now -->
    <!-- <div class="container" >
        <div class="input-label">Language</div>
        <div class="input" >
          <input
            type="text"
            placeholder="Dataset Language"
            class="search-input js-search-input"
            v-model.trim="metadata.language"
            name="dataset language"
          >
        </div > 
    </div >             -->
    <div class="container" >
        <div class="input-label">
          Source Organization
          <v-popover class="input-popover" trigger="hover" placement="right">
              <icon-component name="icon-info" class="-small"></icon-component>
              <div class="tooltip-container" slot="popover">
                <span class="tooltip-heading">
                  Info
                </span>
                <p class="tooltip-content">
                    Name of the organization sourcing the data (eg. World Bank)
                </p>
              </div>
            </v-popover>  
        </div>
        <div class="input" >
          <input
            type="text"
            placeholder="Source Organization"
            class="search-input js-search-input"
            v-model.trim="metadata.sourceOrganization"
            name="source organization"
            v-validate="'required'"
          >
        </div > 
        <span class="input-required">*</span>
    </div >            
    <div class="container" >
        <div class="input-label">
          Datasource Url
          <v-popover class="input-popover" trigger="hover" placement="right">
              <icon-component name="icon-info" class="-small"></icon-component>
              <div class="tooltip-container" slot="popover">
                <span class="tooltip-heading">
                  Info
                </span>
                <p class="tooltip-content">
                    Link to the human-friendly web page of the source dataset (eg. link to WB website)
                </p>
              </div>
            </v-popover>  
        </div>
        <div class="input" >
          <input
            type="text"
            placeholder="Datasource Url"
            class="search-input js-search-input"
            v-model.trim="metadata.dataSourceUrl"
            name="datasource url"
            v-validate="'required|url:require_protocol'"
          >
        </div > 
        <span class="input-required">*</span>
    </div >            
    <div class="container" >
        <div class="input-label">
          Datasource Endpoint
          <v-popover class="input-popover" trigger="hover" placement="right">
              <icon-component name="icon-info" class="-small"></icon-component>
              <div class="tooltip-container" slot="popover">
                <span class="tooltip-heading">
                  Info
                </span>
                <p class="tooltip-content">
                    The API endpoint or URL to the machine-readable dataset itself
                </p>
              </div>
            </v-popover>
          </div>
        <div class="input" >
          <input
            type="text"
            placeholder="Datasource Endpoint"
            class="search-input js-search-input"
            v-model.trim="metadata.dataSourceEndpoint"
            name="datasource endpoint"
          >
        </div > 
    </div >            
    <div class="container" >
        <div class="input-label">
          Download Url
          <v-popover class="input-popover" trigger="hover" placement="right">
              <icon-component name="icon-info" class="-small"></icon-component>
              <div class="tooltip-container" slot="popover">
                <span class="tooltip-heading">
                  Info
                </span>
                <p class="tooltip-content">
                    URL to API Highways export endpoint to download the given dataset
                </p>
              </div>
            </v-popover>  
        </div>
        <div class="input" >
          <input
            type="text"
            placeholder="Download Url"
            class="search-input js-search-input"
            v-model.trim="metadata.dataDownloadUrl"
            v-validate="'url:require_protocol'"
            name="download url"
          >
        </div > 
    </div >            
    <div class="container" v-click-outside="onClickOutside" >
        <div class="input-label">
          License
          <v-popover class="input-popover" trigger="hover" placement="right">
              <icon-component name="icon-info" class="-small"></icon-component>
              <div class="tooltip-container" slot="popover">
                <span class="tooltip-heading">
                  Info
                </span>
                <p class="tooltip-content">
                    Should be one option from this list: https://data.world/license-help
                </p>
              </div>
            </v-popover>
        </div>
        <div class="input" >
          <div class="input-text-selected search-input js-search-input">
            {{licensePlaceholder}}
          </div>    
          <icon-component :class="['search-icon', '-round', '-xsmall', { '-inverted': isOpen }]"
                          name="icon-chevron-down" ></icon-component >
            <select class="c-select-tabs" name="license" v-validate="'required'" v-model="metadata.license" >
              <option class="input-option" :value="licenseItem" v-for="licenseItem in licenses">{{licenseItem}}</option>
            </select>
        </div > 
    </div >            
    <div class="container" >
        <div class="input-label">
          Info
          <v-popover class="input-popover" trigger="hover" placement="right">
              <icon-component name="icon-info" class="-small"></icon-component>
              <div class="tooltip-container" slot="popover">
                <span class="tooltip-heading">
                  Info
                </span>
                <p class="tooltip-content">
                    Open-ended field that can include dataset-specific fields for metadatas
                </p>
              </div>
            </v-popover>
          </div>
        <div class="input" >
          <input
            type="text"
            placeholder="Any additional Info"
            class="search-input js-search-input"
            v-model.trim="metadata.info"
            name="metadata info"
          >
        </div > 
    </div >            
    <!-- <div class="container" >
        <div class="input-label">Units</div>
        <div class="input" >
          <input
            type="text"
            placeholder="Dataset Units"
            class="search-input js-search-input"
            v-model.trim="metadata.units"
            name="dataset units"
          >
        </div > 
    </div >             -->
    <div class="c-add-form__actions">
      <button-component class="-bordered -big -dark" :click="goToPlayground" >Cancel</button-component >
      <button class="c-button -bordered -big -white -filled">Next</button>
    </div>    
  </form>
