<section class="c-landing">
  <div class="row">
    <div class="column small-12 medium-10">
      <h2 class="jumbotron-title">
        <span>Better data.</span>
        <span>Better decisions.</span>
        <span>Better lives.</span>
      </h2>
      <div class="landing-content">
        <h3 class="content-title">The global partnership for sustainable development data</h3>
        <p class="content-text">
          supports stakeholders to harness the data revolution for sustainable development. The Global Partnership has 300 members from around the globe and across all sectors, many of which have valuable data sets that could support the implementation and measurement of the Sustainable Development Goals (SDGs). However, it is often difficult to find the right data sets in a developer-friendly format across a plethora of portals and platforms, thus inhibiting further use, application, and innovation around these data. API Highways was launched to provide easy access to SDG-relevant data and further empower the developer community to use these data for action and decision-making through the development of rich visualizations and applications.
        </p>
        <h3 class="content-title">Sustainable Development Goals</h3>
        <p class="content-text">
          (SDGs) are a universal call to action to end poverty, protect the planet, and ensure that all people enjoy peace and prosperity. Achieving and monitoring the SDGs requires the partnership of governments, the private sector, civil society, and citizens alike. It will require unprecedented amounts of data to ensure we leave a better planet for future generations.
        </p>
        <p class="content-text">
          <a href="http://www.data4sdgs.org/sdg-goals" target="_blank">Learn more here</a>
        </p>
        <h3 class="content-title" id="api-highways">About API Highways</h3>
        <p class="content-text">
          We bring high-value data sets and APIs from government, NGO, and private sector organizations into a single infrastructure. This gives developers familiar and standardized APIs and tools to create visualizations and applications on top of SDG-related data. 
        </p>
        <img class="content-image" src="/static/about/api-infrastructure.png" alt="API Highways Infrastructure" />
        <p class="content-text">
          View more <a href="/static/doc/API_Highways.pdf" target="_blank">here</a>
        </p>
        <h3 class="content-title">Contact API Highways</h3>
        <p class="content-text">
          For all queries or comments, please contact us at <a href="mailto://apihighways@data4sdgs.org">apihighways@data4sdgs.org</a>
        </p>

      </div>
    </div>
  </div>
</section>
